<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <style type="text/css" media="screen">
      body {
         background-color: skyblue;
         font-size: 1.1rem;
         text-align: center;
      }

      button {
         margin-top: 1em;
         background-color: rgb(32, 187, 120);
         padding: .6em .9em;
         font-size: 1rem;
         border: none;
         border-radius: 5px;
         color: #f4f4f4;
      }
   </style>
   <title>page with login and register</title>
</head>

<body>
   <h1>heloo <%= name %> </h1>
   <form action="/logout?_method=DELETE" method="POST">
      <button type="submit">Log out</button>
   </form>
</body>

</html>