<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/login.css">
   <title>login page</title>
</head>

<body>
   <h1>Please Enter you Login Info </h1>
   <% if (messages.error) { %>
   <%= messages.error %>
   <% } %>
   <form action="/login" method="POST">
      <div>
         <label for="email">Email</label>
         <input type="email" id="email" name="email" placeholder="email@example.com" required>
      </div>
      <div>
         <label for="password">Password</label>
         <input type="password" name="password" id="password" required>
      </div>
      <button type="submit">Login</button>
   </form>
   <p>if you didn't have accunt please go <a href="/register">here</a> to Register</p>

</body>

</html>