body {
  background-color: #111;
  color: white;
  text-decoration-color: white;
  font-size: 1.1rem;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#email {
  margin: 0.8em 0;
}

input {
  padding: 0.6em;
  background-color: rgb(78, 78, 78);
  border: none;
  color: #cfcfcf;
}

::placeholder {
  color: rgb(175, 175, 175);
}

button {
  margin-top: 1em;
  background-color: rgb(32, 187, 120);
  padding: 0.6em 0.9em;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  color: #f4f4f4;
}

p a {
  font-weight: bold;
  margin-inline: 0.15em;
  color: rgb(46, 97, 252);
}
